:root {
    --size-unit: 9rem;
    --header-size: 3.2rem;
    --content-height: calc(100vh - var(--header-size));
    --sidebar-size: calc(var(--size-unit) * 2);
 
    --bi-caret-down-fill-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');    
    --bi-caret-left-fill-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg>');

    --bi-chevron-left-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>');
    --bi-chevron-down-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
    --bi-chevron-right-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>');

    --bi-list-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>');
    --bi-three-dots-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16"><path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/></svg>');
    --bi-three-dots-vertical-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/></svg>');
    --bi-card-list-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16"><path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/><path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/></svg>');    
    --bi-moon-stars-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars" viewBox="0 0 16 16"><path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/><path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/></svg>');
}

.max-w-xs {
    max-width: calc(var(--size-unit) * 1);
}

.max-w-sm {
    max-width: calc(var(--size-unit) * 2);
}

.max-w-md {
    max-width: calc(var(--size-unit) * 3);
}

.max-w-lg {
    max-width: calc(var(--size-unit) * 6);
}

.max-w-xl {
    max-width: calc(var(--size-unit) * 7);
}

.max-w-xxl {
    max-width: calc(var(--size-unit) * 9);
}

svg {
    fill: currentColor;
}

.icon-animate {
    transition: .3s transform ease-in-out;
  }

.icon-animate.collapsed {
    transform: rotate(180deg);
}  

/* Bootstrap Icon */
/* I copied here to reduce size */
/* https://www.svgbackgrounds.com/tools/svg-to-css/ */

.icon{
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;         
    width: 1.2em;
    height: 1.2em; 
}

.icon.bi-caret-down-fill{    
    background-image: var(--bi-caret-down-fill-bg);
}   

.icon.bi-caret-left-fill{    
    background-image: var(--bi-caret-left-fill-bg);
}  

.icon.bi-chevron-left{    
    background-image: var(--bi-chevron-left-bg);
} 

.icon.bi-chevron-right{
    background-image: var(--bi-chevron-right-bg);
} 

.icon.bi-chevron-down{    
    background-image: var(--bi-chevron-down-bg);
} 

.icon.bi-list{
    background-image: var(--bi-list-bg);
}

.icon.bi-three-dots{
    background-image: var(--bi-three-dots-bg);
}

.icon.bi-three-dots-vertical{
    background-image: var(--bi-three-dots-vertical-bg);
}

.icon.bi-moon-stars{
    background-image: var(--bi-moon-stars-bg);
}

.invert {     
    filter: invert(1); /* this is really stupid idea */
}

[data-bs-theme=dark] .icon { 
    filter: invert(1); 
}

/*******************************************************************/

.form-control {
/*  padding: .175rem .75rem; */
}

.shadow-thick
{
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5);
}

.shadow-thin
{
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
}

body {
}

header{
}

aside{
    z-index: 1005;
}

.header {
    min-height: var(--header-size);
}

.fixed {
    position: fixed !important; /* option to stick it without scroll */
}

.content {
}

.main {
    padding-top: 1rem;
    max-height: var(--content-height);
    overflow-y: auto; 
}

.main-content {
}

@media(max-width: 768px) {
    .sidebar {
/*            	    visibility: collapse; */ /* dosnt work in iphone 6*/
        visibility: hidden;
        position: fixed;
    }
}

.sidebar {
    float: left;
    overflow: auto;
    top: 0;
    bottom: 0;
    height: auto;
    padding: 0;
    width: var(--sidebar-size);
    max-width: 100vh;
    min-height: var(--content-height);
    /* background-color: #404E67;*/

/*    overflow-y: auto; */
}

.sidebar-content {
    display: flex;
    overflow-y: auto;
    height: var(--content-height);
    width: var(--sidebar-size)  !important;
    min-height: var(--content-height);
    background-color: #2d3748; 
}

.sidebar-items {
    overflow-y: auto;
    width: var(--sidebar-size) !important;
    background-color: #2d3748; 
}

.sidebar-active {
    background-color: rgb(71, 86, 113);
}

.offcanvas.show, .offcanvas.showing {
    top: var(--header-size);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
    border: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

[data-bs-theme=dark] .card-header {
    background-color: #2d3748; 
}