:root {
    --size-unit: 9rem;
    --header-size: 4rem;
    --content-height: calc(100vh - var(--header-size));
    --sidebar-size: calc(var(--size-unit) * 2);
}

.max-w-xs {
    max-width: calc(var(--size-unit) * 1);
}

.max-w-sm {
    max-width: calc(var(--size-unit) * 2);
}

.max-w-md {
    max-width: calc(var(--size-unit) * 3);
}

.max-w-lg {
    max-width: calc(var(--size-unit) * 6);
}

.max-w-xl {
    max-width: calc(var(--size-unit) * 7);
}

.max-w-xxl {
    max-width: calc(var(--size-unit) * 9);
}

/*******************************************************************/

.form-control {
/*  padding: .175rem .75rem; */
}

.shadow-thick
{
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5);
}

.shadow-thin
{
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
}

body {
}

header{
}

aside{
    z-index: 1005;
}

.header {
    min-height: var(--header-size);
}

.fixed {
    position: fixed !important; /* option to stick it without scroll */
}

.content {
}

.main {
    margin-top: 1rem;
    max-height: var(--content-height);
    overflow-y: auto; //nope it show main scroll when add margine to main
}

.main-content {
}

@media(max-width: 768px) {
    .sidebar {
/*            	    visibility: collapse; */ /* dosnt work in iphone 6*/
        visibility: hidden;
        position: fixed;
    }
}

.sidebar {
    float: left;
    overflow: auto;
    top: 0;
    bottom: 0;
    height: auto;
    padding: 0;
    width: var(--sidebar-size);
    max-width: 100vh;
    min-height: var(--content-height);
    /* background-color: #404E67;*/

/*    overflow-y: auto; */
}

.sidebar-content {
    display: flex;
    overflow-y: auto;
    height: var(--content-height);
    width: var(--sidebar-size)  !important;
    min-height: var(--content-height);
    background-color: #2d3748; 
}

.sidebar-items {
    overflow-y: auto;
    width: var(--sidebar-size) !important;
    background-color: #2d3748; 
}

.sidebar-active {
    background-color: rgb(71, 86, 113);
}

.offcanvas.show, .offcanvas.showing {
    top: var(--header-size);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
    border: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.card-header {
    background-color: #2d3748; 
}