units
doc
ref
.svn
*.ppu
*.o
*.a
*.compiled
*.dcu
*.local
*.dsk
*.bak
*.exe
*.dll
/lib/doc
/reports/source/delphi
/pos/delphi/demo
/socket/source/mnWebElements.res
Win32
Linux64
x86_64-win64

