-dKSA
-dMPOS
; Define LCL
-dLCL
;Support operators like C (*=,+=,/= and -=)
-Sc
;Support macros like C (global)
-Sm
-O3
-Xs
-WG
; Compiler also halts after warnings
;-Sew
;Show Errors and warnings (ew) except Hint (h) Info(i) notes(n) with line numbers (l)
-vew

-Fu/root/Desktop/programs/lazarus/lcl/units/$fpctarget
-Fu/root/Desktop/programs/lazarus/lcl/units/$fpctarget/gtk2
-Fu/root/Desktop/programs/lazarus/components/synedit

-Fu/root/Desktop/programs/minilib/Lazarus/projects/miniSQLViewer/lib/

-Fu/root/Desktop/programs/minilib/Commons/
-Fu/root/Desktop/programs/minilib/MiniConnection/source/
-Fu/root/Desktop/programs/minilib/MiniConnection/db/
-Fu/root/Desktop/programs/minilib/MiniConnection/db/sqlite
-Fu/root/Desktop/programs/minilib/MiniXml/source/

