BODY {direction: ltr}

TH {
  text-align: left;
  padding-right: 1em;
}

.ilist {
  float: right;
  padding-left: 0.1em;
  clear: right;
}

.bk{
  float: left;
  border-left: 1px solid #fff;
  padding: 0.5em 1em 0.5em 1em;  
}