.clearer {
	HEIGHT: 0;
	WIDTH: 0;
	LINE-HEIGHT: 0;
	FONT-SIZE: 0;
	OVERFLOW: hidden;
   CLEAR: both;
}

DIV.postright H3 {
	POSITION: absolute;
	DISPLAY: block;
	OVERFLOW: hidden;
	WIDTH: 1em;
	LEFT: -999em
}

DIV.postmsg {
   OVERFLOW: hidden;
   background-color: #FFF5E3;
}

DIV.postleft {
 background-color: #F2F5FF;
}

DIV.postright {
   background-color: #FFFFD4;
}

DIV.postfootright{
   background-color: #FFD7D7;
}

DIV.postfootleft {
   background-color: #ECECEC;    
}

DIV.postmsg {
   WIDTH:100%
}

DIV.postmsg P {PADDING: 0}

DIV.postleft DL, DIV.postright {PADDING: 6px}
